


/* #cool {
    margin: 10px auto;
} */
.content {
	width: 1100px;
	max-width: 1100px;
	margin: 0 auto;
}

.grid ul {
	margin: auto -2px;
	height: auto;
	overflow: hidden;
}

.grid ul li {
	float: left;
	width: 336px;
	padding-bottom: 10px!important;
	margin-bottom: 0!important;
	border-bottom: unset!important;
	position: relative
}

.grid ul li .item {
	margin: auto 5px;
	background-color: #FFF;
	box-shadow: 0 1px 1px rgba(0, 0, 0, .15);
	overflow: hidden;
	position: relative;
	border: 10px solid #FFF;
	border-bottom: 0 none
}

.grid ul li .thumb {
	line-height: 1;
	text-align: center;
	width: 317px;
	margin-left: -10px;
	height: 205px;
	overflow: hidden;
	-webkit-transition: .15s all linear;
	transition: .15s all linear;
	color: #FFF;
	box-shadow: 0 0 2px rgba(255, 255, 255, .15)
}

.grid ul li .thumb img {
	width: 100%;
	height: auto;
	display: block;
	-webkit-transition: all .2s cubic-bezier(.33, 0, .2, 1);
	transition: all .2s cubic-bezier(.33, 0, .2, 1)
}

.grid ul li .meta {
	padding: 8px 5px
}

.grid ul li .title a {
	color: #444;
	font-size: 14px;
	display: block;
	height: 18px;
	line-height: 18px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap
}

.grid ul li:hover .title a {
	color: #00c3b6
}

.grid ul li .extra {
	position: absolute;
	left: 0;
	top: 0;
	height: auto;
	overflow: hidden;
	width: 100%;
	background-color: #222;
	color: #FFF;
	margin: 0;
	padding: 8px 10px;
	box-sizing: border-box;
	-webkit-transform: translateY(-50px);
	-ms-transform: translateY(-50px);
	transform: translateY(-50px);
	-webkit-transition: -webkit-transform .2s cubic-bezier(.33, 0, .2, 1);
	transition: transform .2s cubic-bezier(.33, 0, .2, 1)
}

.grid ul li .extra a {
	color: rgba(255, 255, 255, .9)
}

.grid ul li .extra a:hover {
	color: #00c3b6
}

.grid ul li .extra .time {
	float: left
}

.grid ul li .extra .time i {
	margin-right: 4px
}

.grid ul li .extra span {
	float: right;
	margin-left: 8px
}

.grid ul li .extra i {
	margin-right: 4px
}

.grid ul li .extra span i {
	margin-right: 0;
	margin-left: 4px
}

.grid ul li .data {
	border-top: 1px solid #f2f2f2;
	padding: 8px 5px;
	color: #999
}

.grid ul li .data a {
	color: #999
}

.grid ul li .data a:hover {
	color: #00c3b6
}

.grid ul li .data span {
	float: right;
	margin-left: 10px
}

.grid ul li .data span i {
	margin-right: 4px
}

.grid ul li:hover .extra {
	-webkit-transform: translateY(0);
	-ms-transform: translateY(0);
	transform: translateY(0)
}

.grid ul li:hover .thumb {
	background-color: #000
}

.grid ul li:hover .thumb img {
	opacity: .7;
	-webkit-transform: translateY(10px);
	-ms-transform: translateY(10px);
	transform: translateY(10px)
}

.search .grid ul li .extra {
	-webkit-transform: translateY(0);
	-ms-transform: translateY(0);
	transform: translateY(0);
	background-color: #00c3b6;
	width: auto;
	overflow: visible;
	display: inline-block;
	padding: 5px 10px;
	left: inherit;
	right: 5px;
	top: 5px;
	box-shadow: 1px 1px 1px rgba(0, 0, 0, .15)
}

.search .grid ul li .extra:after {
	content: '';
	display: block;
	border-width: 7px;
	border-style: solid;
	border-color: transparent #00c3b6 transparent transparent;
	width: 0;
	height: 0;
	font-family: arial;
	position: absolute;
	top: 50%;
	left: -12px;
	margin-top: -7px
}

.search .grid ul li .extra.weiran {
	background-color: #79ac21
}

.search .grid ul li .extra.weiran:after {
	border-color: transparent #79ac21 transparent transparent
}

.search .grid ul li .extra.shop {
	background-color: #ea4c89
}

.search .grid ul li .extra.shop:after {
	border-color: transparent #ea4c89 transparent transparent
}

.search .grid ul li .extra a:hover {
	color: rgba(255, 255, 255, .8)
}

.search .grid ul li:hover .thumb img {
	-webkit-transform: translateY(0);
	-ms-transform: translateY(0);
	transform: translateY(0)
}

.search .grid ul li .extra span {
	margin-left: 0
}

.search .grid ul li .extra i {
	margin: 0 5px 0 0
}







.position a {
	padding: 2px 8px;
	border-right: 1px solid #efefef;
	margin: 0px;
}

.leftbox {
	width: 100%;
}

.tagslist {
	overflow: hidden;
	list-style: none;
	padding: 20px 10px;
	margin: 0
}

.tagslist li {
	float: left;
	font-size: 12px;
	overflow: hidden;
	color: #999;
	clear: none !important;
}

.tagslist .tagname {
	display: inline-block;
	margin-right: 5px;
	background-color: #e6e6e6;
	color: #666;
	padding: 2px 7px;
	margin-bottom: 4px
}

.tagslist strong {
	font-weight: normal;
	color: #999
}

.tagslist a {
	color: #666;
	margin-right: 10px;
	display: inline-block;
	width: auto !important;
}

.tagslist .tagname:hover {
	color: #fff;
	background-color: #32a5e7
}



.spac_art .center {
	width: 1100px;
	margin: 0px auto;
	background: #fff;
}

.spac_art .center .wrap {
	padding: 10px;
}

.spac_art .pleft {
	width: 730px;
	float: left;
}

.spac_art .pright {
	float: right;
	width: 340px;
}

.spac_art .viewbox {
	border: 1px dashed #ccc;
	line-height: 24px;
}

.spac_art .specialpic {
	float: right;
}

.spac_art .specialpic img {
	height: 92px;
}

.spac_art .title h1 {
	font-family: "微软雅黑";
	font-size: 16px;
	font-weight: bold;
}

.spac_art .speciallist {}

.spac_art .speciallist li {
	line-height: 40px;
	height: 40px;
	font-size: 12px;
	background: #e7e7e7;
	border-bottom: 1px solid #fff;
}

.spac_art .speciallist li span.date {
	background: #3366cc;
	padding: 0px 6px;
	float: left;
	margin-right: 8px;
	color: #fff;
}

.spac_art .speciallist li a {}

.rolList li {
	margin: 5px 0 0;
	padding: 0px 0 0px;
	margin-right: 6px;
	float: left;
	width: 160px;
	height: 140px;
	overflow: hidden;
}

.rolList li img {
	width: 160px;
	height: 110px;
}

.rolList li p.ofHidden {
	color: #3366cc;
	height: 30px;
	line-height: 30px;
}

.spac_art .hot li {
	display: inline;
	margin-right: 5px;
}

.spac_art dl.tbox dt {
	height: 26px;
	line-height: 26px;
	font-size: 14px;
}

.blank8 {
	clear: both;
	height: 8px;
}


.mubantitle {
	padding: 10px;
	border-bottom: 1px solid #DCDCDC;
	font-size: 14px;
	position: relative;
	background-color: #FFFFFF;
}

.mubantitle .specimg {
	float: left;
	height: 80px;
	width: 258px;
	display: block;
	background: #c00;
	color: #fff;
	font-size: 15px;
	font-family: "微软雅黑 Light";
	text-align: center;
	line-height: 80px;
	margin-right: 10px;
}

.mubantitle .specimg b {
	font-size: 21px;
}

.spec3619 {}

.mubantitle p {
	line-height: 28px;
}

.mbtag h2 {
	font-size: 18px;
	line-height: 30px;
	font-weight: 500;
	height: 30px;
	font-family: 'microsoft yahei', "\5B8B\4F53", sans-serif;
}

.mbtag h2 span {
	float: right;
	font-size: 16px;
	padding-right: 15px;
}

.mbtag h2 span a {
	color: #ff0000;
}

.side-group .skey a {
	font-size: 14px;
	line-height: 28px;
}

.pbutton a {
	display: inline-block;
	overflow: hidden;
	padding: 0px 8px;
	height: 30px;
	line-height: 30px;
	font-size: 12px;
	text-align: center;
	color: #555;
	font-family: "microsoft yahei";
	font-weight: 100;
	word-wrap: break-word;
	white-space: nowrap;
	float: left;
	margin: 9px 0px;
	margin-left: 9px;
	border-radius: 2px;
	background: #FFF;
	border: 1px solid #D8D8D8;
	-webkit-box-shadow: 0px 1px 1px rgba(50, 50, 50, 0.1);
	-moz-transition: .2s ease-in-out;
	-webkit-transition: .2s ease-in-out;
	transition: .2s ease-in-out;
}

.clearfix {
	zoom: 1;
}

.mbtag {
	width: 1100px;
	margin: 10px auto;
}
.mbtag h2{
	margin-top:11px;
}
/*手机端*/
@media (max-width: 767px) {
	.mbtag {
		margin-top:0;
		margin-bottom: 30px;
	}
	.mbtag h2{
		margin-top:0;
	}
	.date{
		display: none;
	}
}
.page-header {
	position: relative;
}

.page-header {
	margin: 0px auto 10px auto;
}

.page-header h2 {
	font-size: 18px;
	line-height: 30px;
	font-weight: 500;
	height: 30px;
	font-family: 'microsoft yahei', "\5B8B\4F53", sans-serif;
}

.pbutton {
	margin-left: -9px;
	margin-bottom: 16px;
}

.show-tags a {
	font-size: 14px;
	line-height: 32px;
	height: 35px;
}

.page-header span {
	float: right;
	font-size: 14px;
}

.tags-main,
.page-header {
	width: 1100px;
	margin: 0px auto;
}

.blank20 {
	height: 20px;
	clear: both;
}

.pbutton a:hover {
	text-decoration: none;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.22);
	background-color: #ff9900;
	border-color: #ff6600;
	color: #fff
}



h2.tp_title {
	line-height: 150%;
	font-family: "Microsoft YaHei", \5fae\8f6f\96c5\9ed1, arial, \5b8b\4f53;
	font-size: 14px;
	font-weight: bold;
}
h2.tp_title a{
	color: #37474f;
}
.artx p {
	font-size: 12px;
	margin-top: 7px;
}

.artx em {
	margin-right: 5px;
	font-style: normal;
}

.artx .date {
	float: right
}

.grid ul li.artx {
	width: 100%;
	background: #fff;
	border-bottom: 1px solid #ccc
}

.grid ul li.artx div {
	padding: 16px;
}

.ey-shownews .ey-shownews-body {
	padding: 0 !important;
}
