<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{$system.company}</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="__UUCMS__/uucms/server/layuiadmin/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="__UUCMS__/uucms/server/layuiadmin/style/admin.css" media="all">

</head>
<body>
<style>
    .layui-anim-upbit {
        z-index: 999999999999999;
    }
</style>